* * * * * root /application/bin/console app:import:buienradar > /dev/stdout
0 0 * * * /var/www/ishetkutweer/bin/console app:cleanup:data > /dev/stdout
# Don't remove the empty line at the end of this file. It is required to run the cron job
